<!DOCTYPE html>
<html lang="en"
>
<head>
    <title>Arduino&nbsp;Microprocessors - MGDS-PET</title>
    <!-- Using the latest rendering mode for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="/images/_site/favicon.ico" rel="icon">

<link rel="canonical" href="/pages/components/electronics/arduino">

        <meta name="author" content="OCAD University" />
        <meta name="description" content="Arduino is an open-source electronics platform based on easy-to-use hardware and software. It’s intended for the inexpensive creation of interactive projects. Arduino-based projects typically sense the environment by receiving inputs from sensors and affect their surroundings by controlling lights, motors and other actuators. Arduino Home" />

    <meta property="og:site_name" content="MGDS-PET" />
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="Arduino Microprocessors"/>
    <meta property="og:url" content="/pages/components/electronics/arduino"/>
    <meta property="og:description" content="Arduino is an open-source electronics platform based on easy-to-use hardware and software. It’s intended for the inexpensive creation of interactive projects. Arduino-based projects typically sense the environment by receiving inputs from sensors and affect their surroundings by controlling lights, motors and other actuators. Arduino Home" />


    <!-- Bootstrap -->
        <link rel="stylesheet" href="/theme/css/bootstrap.yeti.min.css" type="text/css"/>
    <link href="/theme/css/font-awesome.min.css" rel="stylesheet">

    <link href="/theme/css/pygments/native.css" rel="stylesheet">
        <link href="/theme/css/html4css1.css" rel="stylesheet">
        <link href="/theme/css/typogrify.css" rel="stylesheet">
    <link rel="stylesheet" href="/theme/css/style.css" type="text/css"/>
        <link href="/theme/css/custom.css" rel="stylesheet">


</head>
<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">
MGDS-PET            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                    <li><a href="/category/blog.html">Blog</a></li>
                    <li><a href="/pages/research/research.html">Research</a></li>
                    <li><a href="/pages/components/components.html">Components</a></li>
                    <li><a href="/pages/prototypes/prototypes.html">Prototypes</a></li>
                    <li><a href="/pages/team/team.html">Team</a></li>
                    <li><a href="/pages/paperA.html">A</a></li>
                    <li><a href="/pages/paperB.html">B</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/archives.html"><i class="fa fa-th-list"></i><span class="icon-label">Archives</span></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</div> <!-- /.navbar -->
<!-- Banner -->
<!-- End Banner -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">

    <section id="content" class="body">
        <h1 class="entry-title">Arduino&nbsp;Microprocessors</h1>
        
        <div class="entry-content">
            <img alt="arduino 1" src="/images/components/electronics/arduino/P1130879.JPG" style="width: 25%;" />
<img alt="arduino 2" src="/images/components/electronics/arduino/arduinoUno-02.jpg" style="width: 25%;" />
<p>Arduino is an open-source electronics platform based on easy-to-use hardware and software. It&#8217;s intended for the inexpensive creation of interactive projects. Arduino-based projects typically sense the environment by receiving inputs from sensors and affect their surroundings by controlling lights, motors and other actuators. <a class="reference external" href="http://www.arduino.cc/">Arduino&nbsp;Home</a></p>

        </div>
    </section>
        </div>
    </div>
</div>
<footer>
   <div class="container">
      <hr>
      <div class="row">
         <div class="col-xs-10">&copy; 2015 OCAD University
            <!-- &middot; Powered by <a href="https://github.com/DandyDev/pelican-bootstrap3" target="_blank">pelican-bootstrap3</a>,
            <a href="http://docs.getpelican.com/" target="_blank">Pelican</a>,
            <a href="http://getbootstrap.com" target="_blank">Bootstrap</a> -->         </div>
         <div class="col-xs-2"><p class="pull-right"><i class="fa fa-arrow-up"></i> <a href="#">Back to top</a></p></div>
      </div>
   </div>
</footer>
<script src="/theme/js/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/theme/js/bootstrap.min.js"></script>

<!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
<script src="/theme/js/respond.min.js"></script>


</body>
</html>