<!DOCTYPE html>
<html lang="en"
>
<head>
    <title>3D Printed&nbsp;Bands - MGDS-PET</title>
    <!-- Using the latest rendering mode for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="/images/_site/favicon.ico" rel="icon">

<link rel="canonical" href="/pages/components/bands/3DprintedBands">

        <meta name="author" content="OCAD University" />
        <meta name="description" content="Description 3D printed bands are made using a MakerBot Replicator 2 3D printer. Initially, these designed with radial symmetry with channels to accommodate wiring between electronic components. Components 3D printed PLA hard plastic material Elastic thread Discussion These bands were designed using the open-source CAD software OpenSCAD. This software is ..." />

    <meta property="og:site_name" content="MGDS-PET" />
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="3D Printed Bands"/>
    <meta property="og:url" content="/pages/components/bands/3DprintedBands"/>
    <meta property="og:description" content="Description 3D printed bands are made using a MakerBot Replicator 2 3D printer. Initially, these designed with radial symmetry with channels to accommodate wiring between electronic components. Components 3D printed PLA hard plastic material Elastic thread Discussion These bands were designed using the open-source CAD software OpenSCAD. This software is ..." />


    <!-- Bootstrap -->
        <link rel="stylesheet" href="/theme/css/bootstrap.yeti.min.css" type="text/css"/>
    <link href="/theme/css/font-awesome.min.css" rel="stylesheet">

    <link href="/theme/css/pygments/native.css" rel="stylesheet">
        <link href="/theme/css/html4css1.css" rel="stylesheet">
        <link href="/theme/css/typogrify.css" rel="stylesheet">
    <link rel="stylesheet" href="/theme/css/style.css" type="text/css"/>
        <link href="/theme/css/custom.css" rel="stylesheet">


</head>
<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">
MGDS-PET            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                    <li><a href="/category/blog.html">Blog</a></li>
                    <li><a href="/pages/research/research.html">Research</a></li>
                    <li><a href="/pages/components/components.html">Components</a></li>
                    <li><a href="/pages/prototypes/prototypes.html">Prototypes</a></li>
                    <li><a href="/pages/team/team.html">Team</a></li>
                    <li><a href="/pages/paperA.html">A</a></li>
                    <li><a href="/pages/paperB.html">B</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/archives.html"><i class="fa fa-th-list"></i><span class="icon-label">Archives</span></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</div> <!-- /.navbar -->
<!-- Banner -->
<!-- End Banner -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">

    <section id="content" class="body">
        <h1 class="entry-title">3D Printed&nbsp;Bands</h1>
        
        <div class="entry-content">
            <img alt="3D printed band 1" src="/images/components/bands/3Dprinted/P1130870.jpg" style="width: 25%;" />
<img alt="3D printed band 2" src="/images/components/bands/3Dprinted/P1130624.jpg" style="width: 25%;" />
<div class="section" id="description">
<h2>Description</h2>
<p>3D printed bands are made using a <a class="reference external" href="http://www.makerbot.com">MakerBot</a> Replicator 2 3D printer. Initially, these designed with radial symmetry with channels to accommodate wiring between electronic&nbsp;components.</p>
</div>
<div class="section" id="components">
<h2>Components</h2>
<ul class="simple">
<li>3D printed <span class="caps">PLA</span> hard plastic&nbsp;material</li>
<li>Elastic&nbsp;thread</li>
</ul>
</div>
<div class="section" id="discussion">
<h2>Discussion</h2>
<p>These bands were designed using the open-source <span class="caps">CAD</span> software <a class="reference external" href="http://www.openscad.org">OpenSCAD</a>. This software is very useful in designing fully parameterized 3D <span class="caps">CAD</span> models. For simple geometric forms, such as these bands, this approach worked well. For more complex, or less geometric designs that use fewer simple shapes, OpenSCAD is less&nbsp;appropriate.</p>
<p>The advantages of a parameterized model is the ease at which it can &#8216;tweaked&#8217; after the fact. Adjustments of fractions of a millimeter are common in band design iterations. Such tweaks can make a big difference in accommodating the size of components. Fully parameterized models make such adjustments trivial. However, more effort may be required at the front end for such <span class="caps">CAD</span>&nbsp;models.</p>
</div>

        </div>
    </section>
        </div>
    </div>
</div>
<footer>
   <div class="container">
      <hr>
      <div class="row">
         <div class="col-xs-10">&copy; 2015 OCAD University
            <!-- &middot; Powered by <a href="https://github.com/DandyDev/pelican-bootstrap3" target="_blank">pelican-bootstrap3</a>,
            <a href="http://docs.getpelican.com/" target="_blank">Pelican</a>,
            <a href="http://getbootstrap.com" target="_blank">Bootstrap</a> -->         </div>
         <div class="col-xs-2"><p class="pull-right"><i class="fa fa-arrow-up"></i> <a href="#">Back to top</a></p></div>
      </div>
   </div>
</footer>
<script src="/theme/js/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/theme/js/bootstrap.min.js"></script>

<!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
<script src="/theme/js/respond.min.js"></script>


</body>
</html>