<!DOCTYPE html>
<html lang="en"
>
<head>
    <title>Conductive&nbsp;Thread - MGDS-PET</title>
    <!-- Using the latest rendering mode for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="/images/_site/favicon.ico" rel="icon">

<link rel="canonical" href="/pages/components/bands/conductiveThread">

        <meta name="author" content="OCAD University" />
        <meta name="description" content="Description Conductive thread investigations took the form of multiple strands that used various techniques such as knotting and knitting to gauge the capability of thread to conduct current to vibrating beads. The lengths of conductive materials were short, and each incorporated one LED or bead to test conductivity. Lengths of ..." />

    <meta property="og:site_name" content="MGDS-PET" />
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="Conductive Thread"/>
    <meta property="og:url" content="/pages/components/bands/conductiveThread"/>
    <meta property="og:description" content="Description Conductive thread investigations took the form of multiple strands that used various techniques such as knotting and knitting to gauge the capability of thread to conduct current to vibrating beads. The lengths of conductive materials were short, and each incorporated one LED or bead to test conductivity. Lengths of ..." />


    <!-- Bootstrap -->
        <link rel="stylesheet" href="/theme/css/bootstrap.yeti.min.css" type="text/css"/>
    <link href="/theme/css/font-awesome.min.css" rel="stylesheet">

    <link href="/theme/css/pygments/native.css" rel="stylesheet">
        <link href="/theme/css/html4css1.css" rel="stylesheet">
        <link href="/theme/css/typogrify.css" rel="stylesheet">
    <link rel="stylesheet" href="/theme/css/style.css" type="text/css"/>
        <link href="/theme/css/custom.css" rel="stylesheet">


</head>
<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">
MGDS-PET            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                    <li><a href="/category/blog.html">Blog</a></li>
                    <li><a href="/pages/research/research.html">Research</a></li>
                    <li><a href="/pages/components/components.html">Components</a></li>
                    <li><a href="/pages/prototypes/prototypes.html">Prototypes</a></li>
                    <li><a href="/pages/team/team.html">Team</a></li>
                    <li><a href="/pages/paperA.html">A</a></li>
                    <li><a href="/pages/paperB.html">B</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/archives.html"><i class="fa fa-th-list"></i><span class="icon-label">Archives</span></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</div> <!-- /.navbar -->
<!-- Banner -->
<!-- End Banner -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">

    <section id="content" class="body">
        <h1 class="entry-title">Conductive&nbsp;Thread</h1>
        
        <div class="entry-content">
            <img alt="conductive thread band 1" src="/images/components/bands/conductiveThread/conductiveThread1.jpg" style="width: 25%;" />
<img alt="conductive thread band 2" src="/images/components/bands/conductiveThread/conductiveThread2.jpg" style="width: 25%;" />
<div class="section" id="description">
<h2>Description</h2>
<p>Conductive thread investigations took the form of multiple strands that used various techniques such as knotting and knitting to gauge the capability of thread to conduct current to vibrating beads. The lengths of conductive materials were short, and each incorporated one <span class="caps">LED</span> or bead to test conductivity. Lengths of knotted or knitted fabrics were attached to each other and the battery using alligator clips or tied&nbsp;together.</p>
<p>This was an investigation into the capabilities of stretch conductive fabric to act as a band and circuit to power resin <span class="caps">LED</span> beads. The band consists of two tubular conductive fabric strips with snaps sewn on to connect a series of beads in parallel. A pocket for the Arduino and battery is sewn to one side, which acts as a housing and a support to separate the two strips from each other. Neoprene is added to create a waterproof layer between the skin and Arduino and as a third band between the conductive&nbsp;tubes.</p>
<p>Conductive thread investigations took the form of multiple strands that used various techniques such as knotting and knitting to gauge the capability of thread to conduct current to vibrating beads. The lengths of conductive materials were short, and each incorporated one <span class="caps">LED</span> or bead to test conductivity. Lengths of knotted or knitted fabrics were attached to each other and the battery using alligator clips or tied&nbsp;together.</p>
</div>
<div class="section" id="design-and-research-questions">
<h2>Design and Research&nbsp;Questions</h2>
<ul class="simple">
<li>Does the vibrating bead lose any power/capability when the circuit is made of conductive thread instead of&nbsp;wiring?</li>
<li>Can conductive thread be incorporated into a “friendship” bracelet design, and maintain&nbsp;functionality?</li>
<li>Would multiple vibrating beads remain fully functional when connected to each other using conductive&nbsp;thread?</li>
</ul>
</div>
<div class="section" id="components">
<h2>Components</h2>
<ul class="simple">
<li>LightBlue Bean&nbsp;Arduino</li>
<li>Stretchy conductive&nbsp;fabric</li>
<li>Neoprene&nbsp;layer</li>
<li>Snaps to connect&nbsp;beads</li>
<li>LEDs or vibrating <span class="caps">LED</span>&nbsp;beads</li>
<li>conductive thread and&nbsp;yarn</li>
<li>3V coin cell&nbsp;battery</li>
</ul>
</div>
<div class="section" id="discussion">
<h2>Discussion</h2>
<p>Kitted or knotted circuits, while successful, did not help solve problems related to bead addressability or possibilities of incorporating buttons and switches. Distance from the battery also negatively effected the functionality of the beads. Single pieces worked well, but when connected to each other, distance from the battery diminished the power flow to each bead. It is assumed that the conductive thread created too much resistance for the beads to be effectively&nbsp;powered.</p>
<p>The pocket for the Arduino worked well and was a snug fit. Connection of ports to each conductive tube had been considered a minor detail, so wiring was visible. Once the beads were snapped into place and current was run through the device, it became apparent that there was too much resistance being created by the fabric, as the beads were not fully functional. Conductive thread was run through the tubes and stitched into each snap to enhance the conductivity of the tubes, this helped, but distance from the battery still proved a problem to power all the&nbsp;beads.</p>
<p>While the conductive fabric seemed like a viable option because it offered flexibility and a one-size-fits-all style for manufacture, it became apparent that we would not be able to make a fully functional prototype using this&nbsp;method.</p>
<p>Kitted or knotted circuits, while successful, did not help solve problems related to bead addressability or possibilities of incorporating buttons and switches. Distance from the battery also negatively effected the functionality of the beads. Single pieces worked well, but when connected to each other, distance from the battery diminished the power flow to each bead. It is assumed that the conductive thread created too much resistance for the beads to be effectively&nbsp;powered.</p>
</div>

        </div>
    </section>
        </div>
    </div>
</div>
<footer>
   <div class="container">
      <hr>
      <div class="row">
         <div class="col-xs-10">&copy; 2015 OCAD University
            <!-- &middot; Powered by <a href="https://github.com/DandyDev/pelican-bootstrap3" target="_blank">pelican-bootstrap3</a>,
            <a href="http://docs.getpelican.com/" target="_blank">Pelican</a>,
            <a href="http://getbootstrap.com" target="_blank">Bootstrap</a> -->         </div>
         <div class="col-xs-2"><p class="pull-right"><i class="fa fa-arrow-up"></i> <a href="#">Back to top</a></p></div>
      </div>
   </div>
</footer>
<script src="/theme/js/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/theme/js/bootstrap.min.js"></script>

<!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
<script src="/theme/js/respond.min.js"></script>


</body>
</html>