<!DOCTYPE html>
<html lang="en"
>
<head>
    <title>Etched Leather&nbsp;Bands - MGDS-PET</title>
    <!-- Using the latest rendering mode for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="/images/_site/favicon.ico" rel="icon">

<link rel="canonical" href="/pages/components/bands/etchedLeather">

        <meta name="author" content="OCAD University" />
        <meta name="description" content="Description This new direction was instigated by the need to cleanly house all the electronic components and rapidly produce a prototype. It was decided that a round 3D printed casing with arms to allow for an interchangeable band to slide into place would be created. This casing would house Arduino ..." />

    <meta property="og:site_name" content="MGDS-PET" />
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="Etched Leather Bands"/>
    <meta property="og:url" content="/pages/components/bands/etchedLeather"/>
    <meta property="og:description" content="Description This new direction was instigated by the need to cleanly house all the electronic components and rapidly produce a prototype. It was decided that a round 3D printed casing with arms to allow for an interchangeable band to slide into place would be created. This casing would house Arduino ..." />


    <!-- Bootstrap -->
        <link rel="stylesheet" href="/theme/css/bootstrap.yeti.min.css" type="text/css"/>
    <link href="/theme/css/font-awesome.min.css" rel="stylesheet">

    <link href="/theme/css/pygments/native.css" rel="stylesheet">
        <link href="/theme/css/html4css1.css" rel="stylesheet">
        <link href="/theme/css/typogrify.css" rel="stylesheet">
    <link rel="stylesheet" href="/theme/css/style.css" type="text/css"/>
        <link href="/theme/css/custom.css" rel="stylesheet">


</head>
<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">
MGDS-PET            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                    <li><a href="/category/blog.html">Blog</a></li>
                    <li><a href="/pages/devices/devices.html">Devices</a></li>
                    <li><a href="/pages/components/components.html">Components</a></li>
                    <li><a href="/pages/research/research.html">Research</a></li>
                    <li><a href="/pages/team/team.html">Team</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/archives.html"><i class="fa fa-th-list"></i><span class="icon-label">Archives</span></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</div> <!-- /.navbar -->
<!-- Banner -->
<!-- End Banner -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">

    <section id="content" class="body">
        <h1 class="entry-title">Etched Leather&nbsp;Bands</h1>
        
        <div class="entry-content">
            <!-- .. image: /images/components/bands/etchedLeather/P1140027.JPG -->
<!-- :alt: leather band 1 -->
<!-- :width: 25% -->
<!-- .. image: /images/components/bands/etchedLeather/P1140027-001.JPG -->
<!-- :alt: leather band 1 -->
<!-- :width: 25% -->
<div class="section" id="description">
<h2>Description</h2>
<p>This new direction was instigated by the need to cleanly house all the electronic components and rapidly produce a prototype. It was decided that a round 3D printed casing with arms to allow for an interchangeable band to slide into place would be created. This casing would house Arduino, battery, wiring, vibrating motor and a neopixel ring and single neopixel array would make up the face of the watch-like design. The band would be etched with Time Tremors inspired glyphs and runes to maintain some brand identity and tie into the aesthetic of the&nbsp;game.</p>
</div>
<div class="section" id="design-and-research-questions">
<h2>Design and Research&nbsp;Questions</h2>
<ul class="simple">
<li>What would the Time Tremors glyphs look like when etched onto&nbsp;leather?</li>
<li>What would an etched leather band look like when paired with a 3D printed electronics&nbsp;casing?</li>
<li>Is it possible to house all the necessary electronic components within one 3D printed&nbsp;housing?</li>
<li>Using a watch/band for inspiration, is it possible to build a prototype that does not incorporate a smart&nbsp;band?</li>
</ul>
</div>
<div class="section" id="components">
<h2>Components</h2>
<ul class="simple">
<li>Laser cut leather&nbsp;band</li>
<li>3D printed electronics&nbsp;casing/module</li>
<li>Light blue bean&nbsp;Arduino</li>
<li>Rechargeable LiPo&nbsp;battery</li>
<li>Vibrating&nbsp;motor</li>
<li>Single NeoPixel <span class="caps">LED</span></li>
<li>12 x <span class="caps">LED</span> NeoPixel&nbsp;ring</li>
</ul>
</div>
<div class="section" id="discussion">
<h2>Discussion</h2>
<p>The new 3D printed module did allow for all the components to be housed together, however, it ended up being very bulky and large. This was a problem when considering that it was being designed for children. A slot to recharge the battery via micro <span class="caps">USB</span> had been cut into the housing and this would also provide a space for the <span class="caps">GSR</span> sensor wires to run to the&nbsp;Arduino.</p>
<p>The band looked good with the laser etching and cutting and further simplified the design process as it was no longer required for it to be “smart”. The Time Tremors designs were positioned in such a way as to frame the 3D printed unit and echo the shapes made by the “watch”&nbsp;face.</p>
<p>The band and 3D printed unit worked well together and it was decided that another iteration using the same general idea would be developed.  A decision was made to reiterate the design and attempt to remove some of the bulk and cut down some of the&nbsp;size.</p>
</div>

        </div>
    </section>
        </div>
    </div>
</div>
<footer>
   <div class="container">
      <hr>
      <div class="row">
         <div class="col-xs-10">&copy; 2015 OCAD University
            <!-- &middot; Powered by <a href="https://github.com/DandyDev/pelican-bootstrap3" target="_blank">pelican-bootstrap3</a>,
            <a href="http://docs.getpelican.com/" target="_blank">Pelican</a>,
            <a href="http://getbootstrap.com" target="_blank">Bootstrap</a> -->         </div>
         <div class="col-xs-2"><p class="pull-right"><i class="fa fa-arrow-up"></i> <a href="#">Back to top</a></p></div>
      </div>
   </div>
</footer>
<script src="/theme/js/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/theme/js/bootstrap.min.js"></script>

<!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
<script src="/theme/js/respond.min.js"></script>


</body>
</html>