<!DOCTYPE html>
<html lang="en"
>
<head>
    <title>Leather&nbsp;Bands - MGDS-PET</title>
    <!-- Using the latest rendering mode for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="/images/_site/favicon.ico" rel="icon">

<link rel="canonical" href="/pages/components/bands/leather">

        <meta name="author" content="OCAD University" />
        <meta name="description" content="Description Leather bands are durable, flexible and relate well with the retro yet futuristic ‘steam-punk’ styles of the Time Tremors transmedia media property, which provides one of the primary foundations for the MGDS-PET project. Leather also has some inherent qualities such that it can be easily laser-cut and patterned ..." />

    <meta property="og:site_name" content="MGDS-PET" />
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="Leather Bands"/>
    <meta property="og:url" content="/pages/components/bands/leather"/>
    <meta property="og:description" content="Description Leather bands are durable, flexible and relate well with the retro yet futuristic ‘steam-punk’ styles of the Time Tremors transmedia media property, which provides one of the primary foundations for the MGDS-PET project. Leather also has some inherent qualities such that it can be easily laser-cut and patterned ..." />


    <!-- Bootstrap -->
        <link rel="stylesheet" href="/theme/css/bootstrap.yeti.min.css" type="text/css"/>
    <link href="/theme/css/font-awesome.min.css" rel="stylesheet">

    <link href="/theme/css/pygments/native.css" rel="stylesheet">
        <link href="/theme/css/html4css1.css" rel="stylesheet">
        <link href="/theme/css/typogrify.css" rel="stylesheet">
    <link rel="stylesheet" href="/theme/css/style.css" type="text/css"/>
        <link href="/theme/css/custom.css" rel="stylesheet">


</head>
<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">
MGDS-PET            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                    <li><a href="/category/blog.html">Blog</a></li>
                    <li><a href="/pages/research/research.html">Research</a></li>
                    <li><a href="/pages/components/components.html">Components</a></li>
                    <li><a href="/pages/devices/devices.html">Devices</a></li>
                    <li><a href="/pages/team/team.html">Team</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/archives.html"><i class="fa fa-th-list"></i><span class="icon-label">Archives</span></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</div> <!-- /.navbar -->
<!-- Banner -->
<!-- End Banner -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">

    <section id="content" class="body">
        <h1 class="entry-title">Leather&nbsp;Bands</h1>
        
        <div class="entry-content">
            <img alt="leather band 1" src="/images/components/bands/leather/P1140027.JPG" style="width: 25%;" />
<img alt="leather band 1" src="/images/components/bands/leather/P1140027-001.JPG" style="width: 25%;" />
<div class="section" id="description">
<h2>Description</h2>
<p>Leather bands are durable, flexible and relate well with the retro yet futuristic &#8216;steam-punk&#8217; styles of the Time Tremors transmedia media property, which provides one of the primary foundations for the <span class="caps">MGDS</span>-<span class="caps">PET</span> project. Leather also has some inherent qualities such that it can be easily laser-cut and patterned, can be moulded to cover various shapes and is comfortable to the&nbsp;touch.</p>
<p>The leather band explorations were done using laser cutting for a precise finish and embossing for decoration. Brown leather was used to adhere to the Time Tremors/Steampunk aesthetic. Initial attempts were simple bands based on earlier felt models. These consisted of a plain strap with a flap sewn onto the top with conductive thread stitching. The thread would allow for the circuit to be completed and for power to flow from the Arduino on the lower level to the beads on top. Laser cut holes were incorporated to accommodate snaps and&nbsp;stitching.</p>
</div>
<div class="section" id="design-and-research-questions">
<h2>Design and Research&nbsp;Questions</h2>
<ul class="simple">
<li>Would a band made from leather be stronger than another&nbsp;material?</li>
<li>Would leather be an stylistically appropriate material within the Steampunk/Time Tremors&nbsp;aesthetic?</li>
<li>Does laser cutting provide an affordable option for cutting and decoration, with the necessary precision, for a commercially viable&nbsp;prototype?</li>
</ul>
</div>
<div class="section" id="components">
<h2>Components</h2>
<ul class="simple">
<li>Laser cut&nbsp;leather</li>
<li>Conductive&nbsp;thread</li>
</ul>
</div>
<div class="section" id="discussion">
<h2>Discussion</h2>
<p>Laser cutting the leather proved to be a good decision as it provided clean and precise edges that would not have been achieved with hand cutting. Cutting the leather was quick and turn-around time for prototype realization was shorter than if it was made by hand. Having the stitching holes laser cut was also helpful as it meant that specialized leather working tools were not required and a regular needle could be used to sew the pieces&nbsp;together.</p>
<p>Conductive thread stitching was not tested as shortly after this prototype was made the design for the band and incorporated electronics&nbsp;changed.</p>
</div>

        </div>
    </section>
        </div>
    </div>
</div>
<footer>
   <div class="container">
      <hr>
      <div class="row">
         <div class="col-xs-10">&copy; 2015 OCAD University
            <!-- &middot; Powered by <a href="https://github.com/DandyDev/pelican-bootstrap3" target="_blank">pelican-bootstrap3</a>,
            <a href="http://docs.getpelican.com/" target="_blank">Pelican</a>,
            <a href="http://getbootstrap.com" target="_blank">Bootstrap</a> -->         </div>
         <div class="col-xs-2"><p class="pull-right"><i class="fa fa-arrow-up"></i> <a href="#">Back to top</a></p></div>
      </div>
   </div>
</footer>
<script src="/theme/js/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/theme/js/bootstrap.min.js"></script>

<!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
<script src="/theme/js/respond.min.js"></script>


</body>
</html>