<!DOCTYPE html>
<html lang="en"
>
<head>
    <title>Later Resin&nbsp;Beads - MGDS-PET</title>
    <!-- Using the latest rendering mode for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="/images/_site/favicon.ico" rel="icon">

<link rel="canonical" href="/pages/components/beads/laterResin">

        <meta name="author" content="OCAD University" />
        <meta name="description" content="Contents 1   Description 2   Design and research questions 3   Components 4   Discussion 1   Description The later beads (aka ‘disco’ beads) drew from previous iterations where electronics were embedded in resin during the curing process. After discovering that LEDs function well when embedded this way, they were substituted with auto-change RGB ..." />

    <meta property="og:site_name" content="MGDS-PET" />
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="Later Resin Beads"/>
    <meta property="og:url" content="/pages/components/beads/laterResin"/>
    <meta property="og:description" content="Contents 1   Description 2   Design and research questions 3   Components 4   Discussion 1   Description The later beads (aka ‘disco’ beads) drew from previous iterations where electronics were embedded in resin during the curing process. After discovering that LEDs function well when embedded this way, they were substituted with auto-change RGB ..." />


    <!-- Bootstrap -->
        <link rel="stylesheet" href="/theme/css/bootstrap.yeti.min.css" type="text/css"/>
    <link href="/theme/css/font-awesome.min.css" rel="stylesheet">

    <link href="/theme/css/pygments/native.css" rel="stylesheet">
        <link href="/theme/css/html4css1.css" rel="stylesheet">
        <link href="/theme/css/typogrify.css" rel="stylesheet">
    <link rel="stylesheet" href="/theme/css/style.css" type="text/css"/>
        <link href="/theme/css/custom.css" rel="stylesheet">


</head>
<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">
MGDS-PET            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                    <li><a href="/category/blog.html">Blog</a></li>
                    <li><a href="/pages/questions/questions.html">Questions</a></li>
                    <li><a href="/pages/ideas/ideas.html">Ideas</a></li>
                    <li><a href="/pages/devices/devices.html">Devices</a></li>
                    <li><a href="/pages/components/components.html">Components</a></li>
                    <li><a href="/pages/reports/reports.html">Reports</a></li>
                    <li><a href="/pages/team/team.html">Team</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/archives.html"><i class="fa fa-th-list"></i><span class="icon-label">Archives</span></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</div> <!-- /.navbar -->
<!-- Banner -->
<!-- End Banner -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">

    <section id="content" class="body">
        <h1 class="entry-title">Later Resin&nbsp;Beads</h1>
        
        <div class="entry-content">
            <img alt="later resin bead 1" src="/images/components/beads/mouldedResin/P1130826.JPG" style="width: 25%;" />
<img alt="later resin bead 2" src="/images/components/beads/mouldedResin/P1130827.JPG" style="width: 25%;" />
<img alt="later resin bead 3" src="/images/components/beads/mouldedResin/P1130829.JPG" style="width: 25%;" />
<div class="contents topic" id="contents">
<p class="topic-title first">Contents</p>
<ul class="auto-toc simple">
<li><a class="reference internal" href="#description" id="id1">1&nbsp;&nbsp;&nbsp;Description</a></li>
<li><a class="reference internal" href="#design-and-research-questions" id="id2">2&nbsp;&nbsp;&nbsp;Design and research&nbsp;questions</a></li>
<li><a class="reference internal" href="#components" id="id3">3&nbsp;&nbsp;&nbsp;Components</a></li>
<li><a class="reference internal" href="#discussion" id="id4">4&nbsp;&nbsp;&nbsp;Discussion</a></li>
</ul>
</div>
<div class="section" id="description">
<h2><a class="toc-backref" href="#id1">1&nbsp;&nbsp;&nbsp;Description</a></h2>
<p>The later beads (aka &#8216;disco&#8217; beads) drew from previous iterations where electronics were embedded in resin during the curing process. After discovering that LEDs function well when embedded this way, they were substituted with auto-change <span class="caps">RGB</span> LEDs to make the beads more funky. Vibrating motors, attached to Lilypads were also used to make the design more&nbsp;tactile.</p>
<p>Custom moulds were made using vacuum formed plastic and paper clay positives. These allowed for more depth when casting with all electronics. Fast cure resin was used to speed up prototyping and there was exploration of various material combinations. Glitter and snap connectors were used to refract light and simplify the connection&nbsp;mechanism.</p>
</div>
<div class="section" id="design-and-research-questions">
<h2><a class="toc-backref" href="#id2">2&nbsp;&nbsp;&nbsp;Design and research&nbsp;questions</a></h2>
<ul class="simple">
<li>Can the <span class="caps">LED</span> arrays be adapted in some way to make them more&nbsp;appealing?</li>
<li>Is it possible to incorporate a vibrating motor, to increase the tactility of the&nbsp;bead?</li>
<li>Given the restraints of commercially available resin moulds, can we make our own to accommodate more electronics into the bead&nbsp;design?</li>
</ul>
</div>
<div class="section" id="components">
<h2><a class="toc-backref" href="#id3">3&nbsp;&nbsp;&nbsp;Components</a></h2>
<ul class="simple">
<li>Auto-change <span class="caps">RGB</span>&nbsp;LEDs</li>
<li>Lilypad with Vibrating motor&nbsp;attached</li>
<li>Fast cure&nbsp;resin</li>
<li>Metal&nbsp;Snaps</li>
<li>Glitter</li>
<li>3V&nbsp;battery</li>
</ul>
</div>
<div class="section" id="discussion">
<h2><a class="toc-backref" href="#id4">4&nbsp;&nbsp;&nbsp;Discussion</a></h2>
<p>Having successfully incorporated auto-change LEDs, vibrating motors and Lilypad into the beads, questions arose regarding buttons, switches and the Arduino. Without switches or addressable LEDs, beads would run constantly when connected to the bracelet. This led to more focused material investigations for band&nbsp;designs.</p>
</div>

        </div>
    </section>
        </div>
    </div>
</div>
<footer>
   <div class="container">
      <hr>
      <div class="row">
         <div class="col-xs-10">&copy; 2015 OCAD University
            <!-- &middot; Powered by <a href="https://github.com/DandyDev/pelican-bootstrap3" target="_blank">pelican-bootstrap3</a>,
            <a href="http://docs.getpelican.com/" target="_blank">Pelican</a>,
            <a href="http://getbootstrap.com" target="_blank">Bootstrap</a> -->         </div>
         <div class="col-xs-2"><p class="pull-right"><i class="fa fa-arrow-up"></i> <a href="#">Back to top</a></p></div>
      </div>
   </div>
</footer>
<script src="/theme/js/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/theme/js/bootstrap.min.js"></script>

<!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
<script src="/theme/js/respond.min.js"></script>


</body>
</html>