<!DOCTYPE html>
<html lang="en"
>
<head>
    <title>Components - MGDS-PET</title>
    <!-- Using the latest rendering mode for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="/images/_site/favicon.ico" rel="icon">

<link rel="canonical" href="/pages/components/components">

        <meta name="author" content="OCAD University" />
        <meta name="description" content="Components are built from a variety of materials, for a variety of functions. Their was some material experimentation and exploration at the beginning of the project, which tended to decrease as the project developed. What components all have in common is the potential to be part of wrist-worn devices, to ..." />

    <meta property="og:site_name" content="MGDS-PET" />
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="Components"/>
    <meta property="og:url" content="/pages/components/components"/>
    <meta property="og:description" content="Components are built from a variety of materials, for a variety of functions. Their was some material experimentation and exploration at the beginning of the project, which tended to decrease as the project developed. What components all have in common is the potential to be part of wrist-worn devices, to ..." />


    <!-- Bootstrap -->
        <link rel="stylesheet" href="/theme/css/bootstrap.yeti.min.css" type="text/css"/>
    <link href="/theme/css/font-awesome.min.css" rel="stylesheet">

    <link href="/theme/css/pygments/native.css" rel="stylesheet">
        <link href="/theme/css/html4css1.css" rel="stylesheet">
        <link href="/theme/css/typogrify.css" rel="stylesheet">
    <link rel="stylesheet" href="/theme/css/style.css" type="text/css"/>
        <link href="/theme/css/custom.css" rel="stylesheet">


</head>
<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">
MGDS-PET            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                    <li><a href="/category/blog.html">Blog</a></li>
                    <li><a href="/pages/research/research.html">Research</a></li>
                    <li><a href="/pages/components/components.html">Components</a></li>
                    <li><a href="/pages/prototypes/prototypes.html">Prototypes</a></li>
                    <li><a href="/pages/team/team.html">Team</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/archives.html"><i class="fa fa-th-list"></i><span class="icon-label">Archives</span></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</div> <!-- /.navbar -->
<!-- Banner -->
<!-- End Banner -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">

    <section id="content" class="body">
        <h1 class="entry-title">Components</h1>
        
        <div class="entry-content">
            <div class="figure align-left" style="width: 100%">
<img alt="components" src="/images/components/components-1.png" style="width: 50%;" />
</div>
<p>Components are built from a variety of materials, for a variety of functions. Their was some material experimentation and exploration at the beginning of the project, which tended to decrease as the project developed. What components all have in common is the potential to be part of wrist-worn devices, to be durable and suitable for daily wear, to be beautiful and have interesting aesthetic qualities, and to be able to contain a variety of electronic&nbsp;components.</p>
<div class="line-block">
<div class="line"><br /></div>
</div>
<p><strong>Bands</strong>
Early Band Designs:
<a class="reference external" href="bands/rubber.html">Rubber</a> |
<a class="reference external" href="bands/felt.html">Felt</a> |
<a class="reference external" href="bands/3DprintedBands.html">3D Printed&nbsp;Bands</a></p>
<p>Bands using Conductive Materials:
<a class="reference external" href="bands/conductiveThread.html">Conductive Thread</a> |
<a class="reference external" href="bands/conductiveThread3D.html">Conductive Thread with 3D components</a> |
<a class="reference external" href="bands/conductiveFabric.html">Conductive&nbsp;Fabric</a></p>
<p>Leather Bands:
<a class="reference external" href="bands/leather.html">Leather</a> |
<a class="reference external" href="bands/etchedLeather.html">Etched Leather</a> |
<a class="reference external" href="bands/laserCutLeather.html">Laser Cut&nbsp;Leather</a></p>
<!-- Resin molded bead with glitter, LED and vibrating motor. -->
<p><strong>Beads</strong>
<a class="reference external" href="beads/earlyResin.html">Early Resin</a> |
<a class="reference external" href="beads/laterResin.html">Later Resin</a> |
<a class="reference external" href="beads/mouldedClay.html">Moulded&nbsp;Clay</a></p>
<p><strong>Cases <span class="amp">&amp;</span> Enclosures</strong>
<a class="reference external" href="cases/3DprintedCases.html">3D Printed&nbsp;Cases</a></p>
<p><strong>Electronics</strong>
<a class="reference external" href="electronics/bean.html">LightBlue Bean</a> |
<a class="reference external" href="electronics/arduino.html">Arduino Microprocessors</a> |
<a class="reference external" href="electronics/led.html">Addressable LEDs</a> |
<a class="reference external" href="electronics/vibeMotor.html">Vibrating&nbsp;Motors</a></p>

        </div>
    </section>
        </div>
    </div>
</div>
<footer>
   <div class="container">
      <hr>
      <div class="row">
         <div class="col-xs-10">&copy; 2015 OCAD University
            <!-- &middot; Powered by <a href="https://github.com/DandyDev/pelican-bootstrap3" target="_blank">pelican-bootstrap3</a>,
            <a href="http://docs.getpelican.com/" target="_blank">Pelican</a>,
            <a href="http://getbootstrap.com" target="_blank">Bootstrap</a> -->         </div>
         <div class="col-xs-2"><p class="pull-right"><i class="fa fa-arrow-up"></i> <a href="#">Back to top</a></p></div>
      </div>
   </div>
</footer>
<script src="/theme/js/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/theme/js/bootstrap.min.js"></script>

<!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
<script src="/theme/js/respond.min.js"></script>


</body>
</html>